*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing:  border-box;
}
body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background:linear-gradient();
    color: #090f83;

    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
}
.form-container{
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    color:rgb(13, 13, 143);
    background:linear-gradient( rgb(9, 9, 132),#ffc107);
}
.input-row{
    margin-bottom: 10px;
}
.input-row{
    display: block;
    margin-bottom: 3px;
    color:rgb(255, 255, 255);
}
.input-row input,
.input-row textarea{
    width: 100%;
    padding: 10px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    margin-bottom: 3px;
    font-size: 18px;
    font-family: arial;
}
.input-row textarea{ 
    height: 100px;
}
.input-row input[type="submit"]{
    width: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    background:rgb(9, 9, 132);
}
.success{
    background:rgb(9, 9, 132);
    padding: 5px 10px;
    text-align: center;
    border-radius: 3px;
    font-synthesis: 14px;
    margin-top: 10px;

}